@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
	.individualPage {
		@apply
		snap-start
		pb-20 mb-10
	}
	.pageDiv {
		@apply
		relative 
		/* h-screen min-h-[500px] */
		min-h-screen
		flex flex-col flex-shrink-0
		overflow-hidden
		text-left 
		max-w-full
		justify-center  space-y-8  
		mx-auto items-center
		z-0
	}
	.pageTitle {
		@apply 
		/* absolute top-[15%]  */
		relative 
		mt-[15vh]
		uppercase text-gray-500
		text-2xl
		md:tracking-[20px]
		tracking-[10px]
		z-10
	}
	.pageContent {
		@apply
		relative m-auto 
		w-3/4 min-h-[70vh] xl:h-[60vh]
		items-center
		justify-center
	}
	.horizontalScroll {
		@apply
		/* absolute top-1/2 -translate-y-1/2 */
		relative
		w-full flex 
		space-x-10
		overflow-x-scroll 
		px-[40%] snap-x 
		scrollbar-thin scrollbar-track-gray-400/20
		scrollbar-thumb-slate-300
	}
	.experienceCard {
		@apply
		flex flex-col space-y-7 flex-shrink-0
		px-5 py-10 mb-5 md:px-10
		items-center snap-center 
		w-[50vw] lg:w-[33vw] max-w-[800px] md:min-w-[400px] sm:min-w-min
		opacity-40 hover:opacity-100 transition-opacity duration-200
		rounded-lg cursor-pointer overflow-hidden bg-[#5e5e5e] 
	}
	.heroButton {
		@apply
		px-6 py-2
		border border-[#242424] rounded-full
		uppercase text-sm text-gray-500
		transition-all ease-in-out duration-500
		tracking-widest 
		hover:border-[#f7ab0a]/40 hover:text-[#f7ab0a]/40
	}
	.contactInput {
		@apply 
		outline-none bg-slate-400/10 
		rounded-sm border-b border-[#242424]
		px-6 py-4 
	text-gray-500 placeholder-gray-500 
		transition-all 
		focus:border-[#F7AB0A]/40 focus:text-[#F7AB0A]/40 
		hover:border-[#F7AB0A]/40
	}
}