@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
	.individualPage {
		@apply
		snap-start
		pb-20 mb-10
	}
	.pageDiv {
		@apply
		relative 
		/* h-screen min-h-[500px] */
		pt-16
		min-h-screen
		flex flex-col flex-shrink-0
		overflow-hidden
		text-left 
		max-w-full
		justify-center  space-y-8  
		mx-auto items-center
		z-0 
        mb-[20%] md:mb-0
	}
	.pageTitle {
		@apply 
		/* absolute top-[15%]  */
		relative 
		/* mt-[50px] */
		uppercase text-gray-500
		text-2xl
		md:tracking-[20px]
		tracking-[10px]
		z-10
	}
	.pageContent {
		@apply
		relative m-auto 
		max-w-[75%]
		items-center
		justify-center
	}
    .heroCircle {
        @apply
        absolute rounded-full border-4 opacity-20 mt-52 animate-ping
    }
	.heroButton {
		@apply
		px-6 py-2 mx-5 my-3
		border border-gray-300/40 rounded-full
		uppercase text-sm text-gray-100/40
		transition-all ease-in-out duration-500
		tracking-widest 
		hover:border-gray-100 hover:text-gray-100
	}
	.horizontalScroll {
		@apply
		/* absolute top-1/2 -translate-y-1/2 */
		relative
		w-full flex 
		space-x-5 
		overflow-x-scroll 
		px-[40%] snap-x 
		scrollbar-thin scrollbar-track-transparent
		scrollbar-thumb-slate-300
	}
    .experienceCardContainer {
        @apply
		mb-10
		items-center snap-center 
		/* max-[400px]:w-[50vw] */
		[perspective:800px]
		/* flex flex-col space-y-7 flex-shrink-0 */
    }
	.experienceCard {
		@apply
		relative m-auto
		h-[50vh] min-h-[400px]
		w-[45vw] md:w-[35vw] max-w-[300px]
        /* my-10 */
		transition-all duration-500
		bg-[#5e5e5e] 
        rounded-xl
  		[transform-style:preserve-3d] 
		group-hover:[transform:rotateY(180deg)]
	}
    .experienceCardFront {
        @apply
        absolute
        p-5
        /* w-full h-full */
        /* group-hover:w-0
        group-hover:h-0 */
        /* group-hover:hidden  */
		[backface-visibility:hidden]
        /* sm:px-5 md:px-8 lg:px-10 xl:px-12 */
        sm:px-[10%]
    }
    .experienceCardBack {
        @apply
        absolute
        /* hidden */
        /* w-0 h-0 */
        /* group-hover:w-full
        group-hover:h-full */
        /* group-hover:inline-block  */
        [transform:rotateY(180deg)]
    	[backface-visibility:hidden]
        sm:px-[10%]
        p-5
    }
	.projectCardContainer {
		@apply
		h-52 w-52
		max-sm:h-48 max-sm:w-48 
		md:h-60 md:w-60
		xl:h-72 xl:w-72
		[perspective:500px]
	}
	.projectCard {
		@apply
		relative m-auto
		h-full w-full
		rounded-xl
		transition-all duration-500
		shadow-lg
  		[transform-style:preserve-3d] 
		group-hover:[transform:rotateY(180deg)]
	}
	.projectCardFront {
		@apply
		absolute
		inset-1 rounded-xl
		[backface-visibility:hidden]
		bg-[#5e5e5e] 
	}
	.projectCardFrontImg {
		@apply
		relative 
		h-full w-full m-auto
		rounded-xl object-cover 
	}
	.projectCardBack {
		@apply
		absolute 
		inset-1 rounded-xl
		[transform:rotateY(180deg)]
    	[backface-visibility:hidden]
		bg-[#5e5e5e]/80 text-slate-200 
		text-center 
	}
	.contactInput {
		@apply 
		outline-none bg-slate-400/10 
		rounded-sm border-b border-[#242424]
		px-6 py-4 
		text-gray-500 placeholder-gray-500 
		transition-all 
		focus:border-gray-100/40 focus:text-gray-100/40 
		hover:border-gray-100/40
	}
	.contactButton {
		@apply
		bg-gray-100/50
		py-3 px-10 rounded-md 
		text-white/50 font-bold text-lg
		hover:bg-gray-100/60
        hover:text-white/80
	}
}